@use '../../styles/config' as *;

.default-category-btn {
    max-width: 125px;
    border-radius: 25px;
    color: color(text-color);
    border: 1px solid color(primary);
    font-size: font-size(base);
    padding: 5px 1.875rem 5px 1.875rem;
    transition: all 0.4s ease;
}

.default-category-btn.Work.active {
    border: 1px solid color(work);
    background: color(work);
}
.default-category-btn.Personal.active {
    border: 1px solid color(personal);
    background: color(personal);
}
.default-category-btn.Study.active {
    border: 1px solid color(study);
    background: color(study);
}

.filter-category-btn {
    border-radius: 25px;
    color: color(text-color);
    border: 1px solid color(primary);
    background: color(primary);
    font-size: font-size(base);
    padding: 5px 1.5rem 5px 1.5rem;
    transition: all 0.4s ease;
    @media (max-width: 768px) {
    }
}

.filter-category-btn.All.active {
    border: 1px solid color(primary);
    background: transparent;
}
.filter-category-btn.Work.active {
    border: 1px solid color(work);
    background: color(work);
}
.filter-category-btn.Personal.active {
    border: 1px solid color(personal);
    background: color(personal);
}
.filter-category-btn.Study.active {
    border: 1px solid color(study);
    background: color(study);
}
