@use '../../styles/config' as *;

.filters {
    width: 100%;
    display: flex;
    padding: 25px 0px 25px 0px;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
        gap: 20px;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        padding: 15px 0px 20px 0px;
    }
    &-search {
        width: 35%;
        height: 40px;
        border: 1px solid color(primary);
        outline: none;
        border-radius: 25px;
        padding-left: 20px;
        font-size: font-size(lg);
        color: color(text-color);
        transition: all 0.3s ease;
        &:focus {
            box-shadow: 0 0 10px 5px rgba(255, 96, 68, 0.25);
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &-btns {
        display: flex;
        gap: 25px;

        @media (max-width: 768px) {
            width: 100%;
            overflow-x: scroll;
            scrollbar-width: none;
            gap: 15px;
        }
    }
}
